*{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    font-size: 58px;
    background-color: #00000015;
    width: 100%;
}
h2{
    display: flex;
    margin-top: 20px;
    padding-top: 20px;
    background-color: #00000015;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #87b1ffab;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    margin: 40px auto;
    width: 320px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #f0f0f070;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.cell:hover {
    background-color: #00000093;
    border: 1px solid white;
    transform: scale(0.9);
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 68px;
    margin: 20px;
}
.restart-button {
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: aliceblue;
    border: none;
}
.restart-button:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
}
.main{
    display: flex;
    padding: 50px;
    justify-content: space-between;
    font-weight: bold;
    font-size: 40px;
    background-color: #00000015;
}
.main button{
    display: flex;
    font-weight: bold;
    width: 350px;
    height: 140px;
    align-items: center;
    font-size: 50px;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    background-color: #00000093;
    color: white;
    border-radius: 20px;
}
.main p {
    padding: 30px;
}


